/* You can add global styles to this file, and also import other style files */

$styleVersion: 3.4;
@import '~@spartacus/styles/index';


@mixin padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

.recently-viewed-container {
  position: absolute;
  width: 32rem;
  min-height: 6rem;
  top: 7rem;
  right: 1rem;
  z-index: 2;
  border: 0.25rem solid var(--cx-color-dark);
  background: var(--cx-color-inverse);
  
  .carousel-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include padding(1rem, 1rem, 0, 1rem);
    color: var(--cx-color-secondary);
  }

  cx-icon {
    cursor: pointer;
  }
  
  .carouse-wrapper {
    @include padding(0, 1rem, 1rem, 1rem);
  }

  .no-products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .name {
    text-align: center;
  }
}