<ng-template cxOutletRef="cx-storefront" cxOutletPos="before">
  <ng-container *ngIf="(recentlyViewdProducts$ | async) as products">
    <ng-container *ngIf="open">

      <div class="recently-viewed-container">
        <div class="carousel-header">
          <cx-icon [type]="closeIcon" (click)="open = false"></cx-icon>
        </div>
        <ng-container *ngIf="products.length; else noViewedProducts">
          <div class="carouse-wrapper">
            <cx-carousel
              [items]="products"
              [template]="carouselItem"
              itemWidth="33%"
            >
            </cx-carousel>
          </div>
        </ng-container>
      </div>

    </ng-container>
  </ng-container>
</ng-template>

<ng-template #carouselItem let-item="item">
  <a tabindex="0" [routerLink]="{ cxRoute: 'product', params: item } | cxUrl">
    <cx-media
      *ngIf="item.images?.PRIMARY"
      [container]="item.images.PRIMARY"
      format="product"
    >
    </cx-media>
    <div class="name">{{ item.name }}</div>
  </a>
</ng-template>

<ng-template #noViewedProducts>
  <div class="no-products">
    No recent products. 
  </div>
</ng-template>